<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito Compra</title>
</head>
<body>
	<h1 th:text="${saludo}"></h1>
    <h2>Modificar carrito:</h2>
	<p style="color: red;" th:text="${error}"></p>
    <form action="carritoCompra" method="post">
        
		<div th:each="item, iter : ${stock}">
		        <label th:for="${item.key}" th:text="|${item.key} (${precios[iter.index]}€): |"></label>
		        <input type="number" th:name="${item.key}" th:max="${item.value}" />
		        <br><br>
		</div>

        <button type="submit" name="act" value="act">Actualizar</button>
		</br></br>
		<button type="submit" name="fin" value="fin">Finalizar compra</button>

    </form>

    <br />

	<h2>Carrito de Compra:</h2>
	<ul>
		<div th:each="item, iter : ${stock}">
			<li th:text="|${item.key} añadidos: ${enCarrito[iter.index]}|"></li>
			<br />
		</div>
		<li th:text="|Total: ${precioTotal}€|"></li>
	</ul>
	
    
    <h3>Stock actual (Provisional):</h3>
	<ul>
		<div th:each="item : ${stock}">
	    	<li th:text="|${item.key}: ${item.value}|"></li>
		</div>
	</ul>
</body>
</html>
