<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reponer Admin</title>
</head>
<body>
	<h1 th:text="${saludo}"></h1>
	
	<h2>Stock actual (Provisional):</h2>
	<ul>
		<div th:each="item : ${stock}">
	    	<li th:text="|${item.key}: ${item.value}|"></li>
		</div>
	</ul>
    
	<h2>Stock a Reponer:</h2>
    <form action="reponer" method="post">
        
		<div th:each="item : ${stock}">
			<label th:for="${item.key}" th:text="|${item.key}: |"></label>
			<input type="number" th:name="${item.key}" min="0" max="999999999" />
			<br><br>
		</div>

        <button type="submit" name="act" value="act">Actualizar</button>
		<br /><br /><br />
		
		<a href="/tienda">Volver al Carrito De Compra</a>
		
    </form>
</body>
</html>
