<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8">
	    <title>Entrada Tienda</title>
	</head>
	<body>
		<h1 th:text="${mensaje}"></h1>
		
		<h3 th:if="${enCarrito}">Resumen Compra</h3>
		<ol th:if="${enCarrito}">
			<li th:each="item, iter : ${stock}" th:text="|${item.key}: ${enCarrito[iter.index]}|"></li>
			<li th:text="|Total: ${precioTotal}€|"></li>
		</ol>
				
		<h3>Stock actual (Provisional):</h3>
		<ul>
			<div th:each="item : ${stock}">
		    	<li th:text="|${item.key}: ${item.value}|"></li>
			</div>
		</ul>
		
		<a href="/tienda">Volver al Carrito De Compra</a>
	</body>
</html>
