# Archivos y carpetas generadas por el sistema operativo
.DS_Store
Thumbs.db

# Carpetas y archivos de compilación y dependencias
/target/
/build/

# Archivos de configuración de Eclipse
/.classpath
/.project
/.settings/

# Archivos de configuración de IntelliJ IDEA
/.idea/
/*.iml

# Archivos de logs
*.log

# Archivos temporales y caches
*.tmp
*.swp
*~

# Archivos de configuración de Maven
log/

# Archivos de configuración de Gradle
.gradle/
build/

# Configuraciones específicas de Spring Boot
spring.log

# Otros archivos generados
dependency-reduced-pom.xml
release.properties

# Archivos de entorno
.env
