<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Plantilla</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Formulario</h1>
    <form action="#" th:action="@{/form}" method="post">
		
		<p th:if="${error}" th:text="${error}" style="color:red;"></p>
		
		<p>Nombre: <input type="text" name="nombre" th:value="${nombre}" /></p>
        <p><input type="submit" value="Subir" /> <input type="reset" value="Resetear" /></p>
    </form>
</body>
</html>