<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Plantilla</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Formulario 1</h1>
    <form action="#" th:action="@{/form1}" method="post">
		
		<p th:if="${error}" th:text="${error}" style="color:red;"></p>
		
		<p>Tiempo libre</p>
		<label><input type="checkbox" name="opciones" value="Deporte"> Deporte</label><br>
		<label><input type="checkbox" name="opciones" value="Videojugeos"> Videojugeos</label><br>
		<label><input type="checkbox" name="opciones" value="Procastinar"> Procastinar</label><br>
		<label><input type="checkbox" name="opciones" value="Socialisar"> Socialisar</label><br>
        <p><input type="submit" value="Subir" /> <input type="reset" value="Resetear" /></p>
    </form>
</body>
</html>